.buttons-style{
    padding: convert-rem(10px) convert-rem(10px) convert-rem(10px) convert-rem(10px);
    border-width: convert-rem(2px);
    border-style: dotted;
    border-radius: convert-rem(20px);
}
