//Cores
$color_1: #fafafa;
$color_2: #3897f0;
$color_3: #fff;
$color_4: rgba(0, 0, 0, 0.3);

//Medidas
$font_1: 16px;
$font_2: 0;
$font_3: 28px;
$font_4: 24px;
$margin_1: 0 auto;
$margin_2: 30px 0;
$margin_3: 10px 0;
$margin_4: 0 20px 0 0;
$margin_5: 0 20px;
$margin_6: 20px 0;
$margin_7: 0 40px;
$width_1: 90%;
$width_2: 935px;
$width_3: 100%;
$width_4: 768px;
$width_5: 30%;
$height_6: 100%;

