html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body div{
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-color: blanchedalmond;
}

button:hover {
    color: white;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: blanchedalmond;
}