body{
    background-color:9BC4EE;
    margin: 0;
    display:flex;
    flex-direction:column;   
    align-items: center;    
}

h1,h2, h3{
    color:#074584;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#2982DB;
    text-align: center;
    text-decoration: none;
}
h1{
    width: 100%    
}

.container-menu{
    display: flex;
    background-color: #074584; 
    margin: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.men{
    border-radius: 20%;
    justify-content: center;
}
.flex{
    display: flex;
    justify-content: flex-start;
}
.big{
    border: 2px solid black;
    background-color: #074584;  
    display:flex;  
    width:90%;
}
.container{
    width: 50%;
    border: 2px solid black;
    background-color: #074584;  
    display:flex;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 2%
}
.item{
    border: 2px solid #9BC4EE;
    background-color: #2982DB;
    margin: 10px;
    text-align: center;
}

.column{
    flex-direction: column;
}

.column-reverse{
    flex-direction:column-reverse;
}

.wrap{
    max-width:30%;
    flex-wrap: wrap;
}

.btn{
    border-radius: 20%;
    min-width: 20%;
}

a {
    text-decoration: none;
    color: black;    
}

.justify-content{
    width:90%;
    justify-content:space-between;
    background-color: none;
}

.align-itens{
    width: 90%;
    height: 80%;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.align-itens img{
    width: 50%;
    height: 50%
}

.align-content{
    width: 90%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.align-content .item{
    margin: 1px;    
    width: 18%;
    height: 40%
}