
.tavinho { 
	width: 300px;
	height: auto;
 }

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #000000;
	font-size: 14px;
  	color: #f2f2f2;
  	padding: 30px;
}

table {
	width:80vw;
    border-collapse: collapse;
}
table, th, td {
	border: 1px solid #f2f2f2;
	padding: 15px;
}
td{
	text-align: center;
}