@import url('https://fonts.googleapis.com/css?family=Lato');

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
    font-size: 8px;
}

.flex-flow{
    flex-flow: row wrap;
}

.flex-end{
    align-items: flex-end;
}

.wrap{
    flex-wrap: wrap;
    
}
.space-between{
    justify-content: space-between;
}
.space-around{
    align-content: flex-end;
}
.col{
    background-color: #ffd3ea;
    margin: 10px;
}
.row-wrap{
    flex-flow: row wrap;
    background-color: #ff5689;;
}
.column{
    flex-direction: column;

}
.container{
    max-width: width auto;
    margin: 0 auto;
    border:0px solid #000000;
}
header{
    height: auto;
    width: auto;
    background-color: #ff99b7;
    color: white;
}

.align-self1{
    align-self: center;
}
.align-self2{
    align-self: flex-end;
}

footer{
    height: auto;
    background-color: #ff5689;
    font-size: 0.8em;
    color: white;
}
h3{
    color: #f56666;
}
.menu_item{
    flex: 1;
    text-align: center;
    background-color: #ff306d;
    padding: 5px;
    font-weight: bold;
}

.menu_item:hover{
    background-color: #ffd7e3;
    color: #ff306d;
}
.item{
    margin: 5px;
    padding: 1px;
    text-align: center;
    
}
.tag{
    flex-grow: 1;
    background: #43a8e8;
    font-size: 1.5em;   
}



body{
    font-family: 'Lato', sans-serif;
}
