//Variaves Cor

$background-body: #fafafa;
$color-btn-flow: #3897f0;
$btn-flow-color: #fff;
$background-photos: rgba(0, 0, 0, 0.3);


//variaveis medidas

$main-width: 90%;
$main-max-width = 935px;
$main-margin : 0 auto;
$header-margin: 30px 0;
$header-margin-h1: 10px 0;
$header-font-h1: 28px;
$header-font-h2: 24px;
$btn-follow-margin: 0 20px;
$btn-follow- padding: 6px 14px;
$btn-follow- border-width: 1px;
$photos-li-margin: 20px 0;
$photos-img: width: 100%;
$photos-img-hover: width: 100%;
$photos-img-hover:   height: 100%






*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html
  font-size: 16px

ul
  padding: 0
  margin: 0

img
  border: 0

a
  text-decoration: none

body
  background: background-body:

main
  width: $main-width
  max-width: $main-max-width
  margin: $main-margin

header
  display: flex
  margin: $header-margin
  flex-flow: column
  .avatar
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    margin:$main-margin
  .desc
    text-align: center
  h1
    display: inline-block
    margin: $header-margin-h1

h2
  display: inline-block
  margin: 10px 0

header
  h1
    font-size: 28px
  h2
    font-size: $header-font-h2
  .links
    list-style: none
    margin: 10px 0
    li
      list-style: none
      margin: 0 20px 0 0
      display: inline-block

.btn-follow
  margin: $btn-follow-margin
  padding:$btn-follow- padding
  border-width: $btn-follow- border-width
  border-style: solid
  border-color: $color-btn-flow
  color: $color-btn-flow
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  &:hover
    background: $color-btn-flow
    color: $btn-flow-color


.photos
  list-style: none
  flex-wrap: wrap
  justify-content: space-between
  display: flex
  li
    width: 100%
    margin: $photos-li-margin
    position: relative
    img
      width: $photos-img
    .img-hover
      opacity: 0
      position: absolute
      top: 0
      left: 0
      width: $photos-img-hover
      height: $photos-img-hover:
      background: $background-photos
      transition: all 0.3s linear
    &:hover .img-hover
      opacity: 1

