/* Flex */
.flex {
	display: flex; //Torna Flex
}

.flex-wrap {
	flex-wrap: wrap; //Faz com que quebre a linha se necessário
}

.flex-start {
	justify-content: flex-start;
}

.column {
	flex-direction: column;
}

/* Flex Item */
.item {
	margin: 5px;
	background: green;
	text-align: center;
	font-size: 1.5em;
}

.flex-item-1 {
	
	flex: 1;
	background-color: #333;
}

.flex-item-2 {
	
	flex: 1;
	background-color: blue;
	color: white;
}

a{
	color: white;
}

.container {
	max-width: 400px;
	margin: auto auto 5px auto;
	border: 1px solid #ccc;
	display: flex;
	color: aliceblue;
}

h1 {
	text-align: center;
	margin: 20px 0 20px 0;
	font-size: 1.5em;
	font-weight: large;
	background-color: greenyellow
}

h2{
	text-align: center;
	margin: 20px 0 20px 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}

