button{
    position: relative;
    left: 50%;
    transform: translate(-50%)!important;
    border: 1px solid #000;
    background-color: #4a4e69;
    color: #f2e9e4;
    cursor: pointer;
    width: 260px;
    border-radius: 40px;
    height: 60px;
    line-height: 38px;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    text-align: center;
    position: relative;
    padding: 10px;
}

#home{
    padding: 10px;
}


.row p{
    color: black;
}

button:hover{
    transition: all 0.3s;
    background-color: #f2e9e4;
    color: #4a4e69;
}

.interesses{
    padding-top: 10px;
    text-align: left;
}

#skills{
    background-image: linear-gradient(rgba(34,34,59,.84),rgba(34,34,58,.94)),url(assets/background.jpg);
    background-position: 50%;
    background-size: cover;
    margin-top: 50px;
    min-height: 400px;
    color: #f2e9e4;
    text-align: center;
    margin: 0;
}

#skills h2{
    padding: 30px;
}

#skills p{
    padding-bottom: 30px;
}

#skills ul{
    padding-bottom: 30px;
    margin-bottom: 30px;
    list-style: none;
}

#skills ul li{
    position: center;
    float: left;
    padding: 3px 10px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    margin: 4px;
    cursor: pointer;
    transition: all .4s!important;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    min-width: 60px;
    font-size: 10pt;
    
}

#skills ul li:hover{
    background-color: rgba(255,255,255,1);
    color: #000;
} 

#main-footer {
    background-color: #222;
    text-align: center;
}

#footer-info {
    padding-bottom: 10px;
    float: left;
    width: 100%;
    text-align: center;
}

#footer-bottom {
	padding: 15px 0 5px;
	background-color: #1f1f1f;
	background-color: rgba(0, 0, 0, 0.32);
}

#footer-bottom a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#footer-info p{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
}




