body{
	background-color: #F5FFDC;
}

h2{
  	background-color: #5599DD; 
	color: #DDDDDD;
  }
.Contato{
			text-decoration: underline;
			font-style: italic;
		}
body{
	font-family: Arial;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#Cabeçalho{
	text-align: center;
}

#Horario{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}