.produtos{
	border: 1px solid black;
	text-align: center;
	height: 8em;
	font-size: 1.8em;
}

.descrip{
	font-size: 0.8em;
}

.preco{
	font-size: 1.2em;
}

#home{
	text-align: center;
	font-size: 6em;
}

#home_descrip{
	text-align: center;
	font-size: 3em;
}