//colors
$white: #fafafa;
$blue: #3897f0;
$other_white: #fff;
$black: rgba(0, 0, 0, 0.3);

//full_width full_height
$full_width: 100%;
$full_height: 100%;

//top_0 left_0
$top_0: 0;
$left_0: 0;

//html
$html_font_size: 16px;

//ul
$ul_margin: 0;
$ul_padding: 0;

//img
$img_border: 0;

//main
$main_width: 90%;
$main_max-width: 935px;
$main_margin: 0 auto;

//header
$header_margin: 30px 0;

//.avatar
$avatar_radius: 50%;
$avatar_margin: 0 auto;
$avatar_media_margin: 0 40px;

//h1, h2
$h1_h2_margin: 10px 0;

//h1
$h1_font_size: 28px;

//h2
$h2_font_size: 24px;

//.links
$links_margin: 10px 0;

//.links li
$links_li_margin: 0 20px 0 0;

//.btn_follow
$btn_margin: 0 20px;
$btn_padding: 6px 14px;
$btn_border_width: 1px;
$btn_radius: 4px;

//.photos li
$photos_li_margin: 20px 0;
$photos_li_media_width: 30%;   