.linha{
    margin-left: -15px;
    margin-right: -15px;
}

.container{
    margin-top: 0px;
    margin-bottom: 60px;
    padding-top: 50px;
    background-color: #fff;
    padding: 2% 15%;
}

.container #teste p{
    margin-top: 20px;
}

.container h1{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.container p{
    text-align: center;
}

.container h2{
    margin-top: 20px;
}

.config{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container .item{
    display: inline-block;
    width: 100%;
}

.container .venda{
    border-radius: 0px;
    box-shadow: none;
    background-color: #fff;
    border: none;
    padding: 30px;
    margin-bottom: 2em;
}

.venda{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

@media screen and(max-width: 1200px){
    .config {
        width: 1170px;
    }
}

@media screen and(max-width: 992px){
    .config {
        width: 970px;
    }
}

@media screen and(max-width: 768px){
    .config {
        width: 750px;
    }
}

/* Standard Configuration */

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

a {
    color: #000;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3em;
    text-align: center;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center; 
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

p {
    margin: 0 0 10px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

body{
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'Montserrat', sans-serif;
}