/* new */

.infos {
    margin-top: 0px;
    margin-bottom: 60px;
    padding-top: 50px;
    background-color: #fff;
    padding: 2% 15%;
}

.marg{
    margin-top: 20px;
}

.infos .marg h2{
    margin-top: 20px;
}

.infos h1 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.infos h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
    line-height: 1.1;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3em;
    text-align: center;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}

.infos p {
    text-align: center;
}

p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.infos a, .infos a:hover {
    color: #000;
}

.products .w1 {
    border-radius: 0px;
    box-shadow: none;
    background-color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 2em;
    margin-right: 0em;
}

.products .item {
    display: inline-block;
    width: 100%;
    margin-left: 70px;
}

.products h2 {
    font-weight: 600;
    font-size: 1.7em;
    margin-bottom: 1em;
}

.products .item img {
    width: 100%;
    margin-bottom: 2em;
}

.products .price {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.products h2 {
    font-weight: 600;
    font-size: 1.7em;
    margin-bottom: 1em;
}

.products button {
    width: 100%;
    opacity: 1;
    position: relative;
    padding: 0.3em 1em;
    border: 2px solid;
    border-radius: 0px;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7em !important;
    transition: all 0.2s;
    text-transform: uppercase!important;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif!important;
    color: #000;
}

.products button:hover{
    cursor: pointer;
    border-color: #fff;
    background-color: lightgray;
}

.products .s1 {
    opacity: 0.3;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

body{
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'Montserrat', sans-serif;
}