body{
	font-family: Georgia, serif;
	background-color: black;
	color: white;
}

.cont_product{
	text-align: center;
	border: 1px solid white;
	border-radius: 25px;
	background-color: #993399;
	color: white;
	font-family: Georgia, serif;
	font-size: 1.1em;
}

.cont_contacts{
	font-family: Georgia, serif;
	font-size: 1.1em;
}