
@font-face {
  font-family: 'AfterMidnite';
  src: url('AfterMidnite.eot?#iefix') format('embedded-opentype'),  url('AfterMidnite.otf')  format('opentype'),
	     url('AfterMidnite.woff') format('woff'), url('AfterMidnite.ttf')  format('truetype'), url('AfterMidnite.svg#AfterMidnite') format('svg');
  font-weight: normal;
  font-style: normal;
}
