$fonte-html: 16px;
$cor-background: #fafafa;
$main-w: 90%;
$main-m-w: 935px;
$h1: 28px;
$h2: 24px;
$cor-botao: #3897f0;
$cor-hover-botao: #fff;
$img-hover: rgba(0,0,0,0.3);
$media-tamanho: 768px;

@mixin box($box) {
    -webkit-box-sizing: $box;
    -moz-box-sizing: $box;
    -moz-box-sizing: $box;
}

*{
    margin: 0;
    padding: 0;
    @include box(border-box); 
}

html{font-size: $fonte-html;}
ul{padding: 0; margin: 0;}
img{border: 0;}
a{text-decoration: none;}
body{background: $cor-background;}
main{width: $main-w; max-width: $main-m-w; margin: 0 auto;}

@mixin border-radius-margin0($radius){
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
       -ms-border-radius: $radius;
       margin: 0 auto;
}

header{
    display: flex;
    margin: 30px 0;
    flex-flow: column;
    .avatar{@include border-radius-margin0(50px);}
    .desc{text-align: center;}
    h1, h2{display: inline-block; margin: 10px 0px;}
    h1{font-size: $h1;}
    h2{font-size: $h2;}
    .links{list-style: none; margin: 10px 0;}
    .links li{list-style: none; margin: 0 20px 0 0; display: inline-block;}

}

.btn-follow{
    margin: 0 20px;
    @import 'botao';
    color: $cor-botao;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    :hover{
        background: $cor-botao;
        color: $cor-hover-botao;
    }
    
}




.photos{
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    li{
        width: 100%;
        margin: 20px 0;
        position: relative;
    }
    li img{
        width: 100%;
        .img-hover{
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $img-hover;
            transition: all 0.3s linear;
            :hover{
                opacity: 1;
            }
        }
    }
    
}

@media(min-width: $media-tamanho){
    header{
        flex-flow: row;
        .avatar{
            margin: 0 40px;
        }
        .desc{
            text-align: left;
        }
    }
    .photos{
        li{
            width: 30%;
        }
    }
    
}