.contato{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5vw;
	text-align: center;
	background: linear-gradient(
	    to bottom,
	    rgba(34,34,60, 0.8),
	    rgba(34,34,60, 1)
	  ),url("../images/geovanna-bg-contact.jpg");
}

.contato h2{
	font-family: AfterMidnite, serif;
	font-weight: 100;
	font-size: 6vw;
	color: rgb(242, 233, 228);
}

.contato h3{
	color: rgb(172, 149, 148);
	font-family: 'Trajan Pro', serif;
	font-size: 2vw;
	width: 40vw;
	font-weight: 100;
	padding: 5vw;
}

.contato h4{
	color: rgb(172, 149, 148);
	font-family: 'Trajan Pro', serif;
	font-size: 2vw;
	padding: 1vw;
}

.contato img{
	width: 10vw;
}

.contato a{
	color: rgb(242, 233, 228);
	text-decoration-line: none;
	font-family: 'Trajan Pro', serif;
	font-size: 2vw;
}

.contato p{
	color: rgb(242, 233, 228);
	font-family: 'Trajan Pro', serif;
	font-size: 1vw;
}

.contato .icones{
	padding: 5vw;
}
.contato .icones img{

	width: 3vw;
	border-style: solid;
	padding: 1vw;
	border-color: rgb(242, 233, 228);
	border-radius: 35%;
	list-style-type: none;
}

.contato .icones a{
	padding: 1vw;
}