.introducao{
	padding: 5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-shrink: 1;
	font-family: 'Trajan Pro', serif;
	font-weight: 100;
	font-size: 2vw;
	background: linear-gradient(
	    to bottom,
	    rgba(64,64,89, 0.8),
	    rgba(64,64,89, 0.8)
	  ),url("../images/geovanna-bg-presentation.jpg");
	background-repeat: no-repeat;
	color: rgb(242,233,228);
}

.introducao h2{
	display: flex;
	justify-content: center;
	align-items: center;
}

.introducao img{
	margin: 7vh;
	width: 5vw;
}

.introducao h3{
	

}

.introducao button{
	font-family: "Trajan Pro", serif;
	border-radius: 90px;
	background-color: rgb(242,233,228);
	color: rgb(96,90,105);
	padding: 15px 30px;
	transition: all 0.2s linear;
	margin: 50px;
	border-style: solid;
	border-color: rgb(242,233,228);
	cursor: pointer;
}

.introducao button:hover{
	background-color: transparent;
	color: rgb(242,233,228);
}
