//color
$bg:  rgba(0, 0, 0, 0.3);
$blue: #3897f0;
$white: #fafafa;

//layout
$w-ms: 768px;
$w-ml: 935px;

//margin/padding
$default: 0 0;
$m-center: 0 auto;
$m-1: 30px 0;
$m-2: 10px 0;
$m-3: 0 20px 0 0;
$m-4: 20px 0;
$m-5: 0 40px;


