//fonts
$font-size: 16px;
$h1: 28px;
$h2: 24px;


//Color
$btnback-color: #fafafa;
$btn-color: #3897f0;
$hover-color: #fff;
$hover2-color: rgba(0, 0, 0, 0.3);

//Width
$width-main: 90%;
$width-main: 935px;
$width-full: 100%;
$width-media: 768px;
$width-photos: 30%;

//Margin
$standard: 0 auto;
$margin-header: 30px 0;
$margin-h: 10px 0;
$margin-li: 0 20px 0 0;
$margin-btn: 0 20px;
$margin-image: 20px 0;
$margin-media: 0 40px;