body{
    background-color: teal;
}
h1{
    text-align: center;
}
.menu{
    background-color: rgb(241, 76, 76);
    display: flex;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.item{
    font-size: 1.5em;
    margin:10px;
    text-decoration: none;
    color: white;
}
.corpo{
    display: flex;
    background-color: goldenrod;
    flex-flow: row wrap;
    
}
.sideMenu{
    display: flex;
    background-color: khaki;
    flex-direction: column;
    justify-content: space-around;
}
.images{
    display: flex;
    max-width:20%;
    max-height: 100%;
    align-content: stretch;
}
.galeria{
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-around;
    flex: 3 2 300px;
}
.podium{
    display: flex;
    background-color: burlywood;
    margin-top:50px;
    justify-content: center;
    height: 100px;
}
.primeiro{
    background-color: gold;
    order:2;
    
}
.segundo{
    background-color: silver;
    order:1;
}
.terceiro{
    background-color: brown;
    order:3;
}
