body{
    font-family: 'Mukta Malar', sans-serif;
    line-height: 0.1rem;
    margin: 0;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

p{
    line-height: 1rem;
    margin: 10 0 10 0;
}