.main-content {
	height: 40vh;
	font-weight: bold;
	font-family: "Trajan Pro", serif;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(34, 34, 60);
	font-size: 1.3vw;
}

.main-content img {
	height: 15vh;
}

.main-content a {
	color: rgb(239, 230, 225);
	text-decoration: none;
	align-self: flex-end;
}

.main-content a:hover {
	border-bottom: solid;
	border-color: rgb(239, 230, 225);
}

.main-content ul{
	flex-basis: 50%;
	display:flex;
	list-style: none;
	justify-content: space-between;
}



