/* ----------------------------- Page styles ----------------------------- */

body{
	margin: 0px;
	background-color: #464646;
	font-family: Cambria;
}

.innerPage{
	width: 840px;
	height: 1000px;
	bottom: 0px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #f6f6f6;
    background-attachment: fixed;
    background-position: center center;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1.50);
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 25px;
}

/* ----------------------------- Altered components ----------------------------- */

p{
	margin: 0px;
	margin-top: 2px;
}

td{
	cursor: pointer;
	text-align: center;
}

td:hover{
	background-color: #b1b1b1;
}

/* ----------------------------- Components Styles ----------------------------- */

#name{
	padding-top: 20px;
	margin-bottom: 5px;
	margin: 0%;
}

#informationName{
	margin-bottom: 5px;
}

#spacer{
	width: 830px;
	height: 2px;
	background-color: black;
	margin-bottom: 3px;
	margin-top: 3px;
}

#table{
	width: 840px;
}

.informationField{
	margin: 5%;
}

.buttonLink{
	margin-top: 2%;
	width: 50px;
	height: 50px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: 0.3s;
}

.buttonLink:hover{
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.textDecoration{
	text-decoration: none;
}

.imageArea{
	position: absolute;
	margin-left: 706px;
	border: 2px solid #464646;
}

.image{
	width: 120px;
	height: 180px;
	background-image: url("./images/photo.jpg");
	background-size: cover;
}