body{

background-color: #F5F5F5;

}



h1{

color:#6495ED

}



th{

color:#4169E1 ;

background-color: #DCDCDC;

}



p{

font-size: 15px 

}



li{

font-size: 15px 

}



table{

font-size: 14px 

}



a{

font-size: 15px 

}




