body {
    background-color: rgb(234, 234, 234);
}
h1 {
    font-family: "DejaVu Sans Mono", monospace;
    text-align: center;
    text-transform: uppercase;
    color: rgb(47, 54, 50);
}
img {
    box-shadow: gray 0px 0px 1em;
    max-width: 50%;
    margin-left: 80px;
    border-radius: 8px;
    margin-bottom:70px;
}
p {
    font-family: "Courier New", monospace;
    font-size: 13px;
    line-height: 1.6;
}
section {
    margin:100px auto 0 auto;

}
ul{
    list-style: none;
}
table{
    border-collapse: collapse;
    width:100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#apresentacao {
    width: 80%;
    height: 100%;
}
.conteudo {
    background-color: white;
    box-shadow: gray 0px 0px 1em;
    overflow: auto;
    margin: auto;
}

.tituloH1 {
    color: rgb(165, 185, 204);
}
.curriculoImage {
    float: left;
    margin: auto;
}

.alinhaMeio {
    text-align: center;
    color:gray;
}

.textoResumo {
    margin-right: 50px;
}
.bgFace {
    background-color: rgb(0, 132, 255);
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 10px 28px;
    text-decoration: none;
    margin: 4px 2px;
}
.bgLink {
    background-color: rgb(51, 113, 183);
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 10px 28px;
    text-decoration: none;
    margin: 4px 2px;
}
.bgGit {
    background-color: rgb(34, 30, 27);
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 10px 28px;
    text-decoration: none;
    margin: 4px 2px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin-left:180px;
    margin-top: 30px;
  }
  .listainfo{
      margin-right: 130px;
  }
.listaResume{
    float: right;
    font-weight: bold;
}

#habilidades {
    width: 80%;
    height: 100%;
    background: yellow;
}
#experiencias {
    width: 80%;
    height: 100%;
    background: green;
}
#horarios {
    width: 80%;
    height: 100%;
    margin-bottom: 100px;
}

