#container-about{
    padding-top: 7rem;
    padding-bottom: 5rem;
    background-color: #f2e9e4;
}
#div-cont-about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
    margin-left: 245px;
    align-items: flex-start;
}

#container-about img{
    height: 120px;
    width: 120px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

#container-about h2{
    font-family: 'AfterMidnite', sans-serif;
    color: #22223b;
    font-size: 6rem;
    margin-bottom: 3rem;
}

#container-about h3{
    color: #9a8c98;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: 'TrajanPro-Regular', serif;
}
.h3, h3 {
    font-size: 1.75rem;
}

#container-about p{
    font-family: 'Montserrat', sans-serif;
    color: #22223b;
    line-height: 2rem;
    margin-bottom: 2rem;
    font-size: 1em;
    text-align: justify;
}

