@charset "UTF-8";

body{
	background-color: #0B4C5F;
	color: rgba(0,0,0,1);
}

header#cabecalho{
	text-align: center;
	text-indent: 50px;
	font-size: 13px;
	line-height: 12px;
}

header#cabecalho img#ft{
	position: absolute;
	left: 280px;
	top: 5px;
	border: 2px solid black;

	
}

div#interface{
	width: 800px;
	background-color: #ffffff;
	margin: -20px auto -20px auto;
	box-shadow: 0px 5px 20px rgba(0,0,0,1);
	padding: 30px;
}

p{
	text-align: justify;
	text-indent: 50px;
	font-size: 15px;
}

table.borda{
	border-collapse: all;
}

table.borda tr td{
	
	border: 3px solid black;

}

div#interface #fc{
	position: absolute;
	left: 980px;
	top: 880px;
}

div#interface #inst{
	position: absolute;
	left: 980px;
	top: 980px;
}

div#interface #gith{
	position: absolute;
	left: 980px;
	top: 1070px;
}

div#dow{
	text-align: center;
} 

