$screen-sm-min: 768px;

$alabaster-color: #fafafa;
$picton-blue-color: #3897f0;
$white-color: #fff;
$translucent-black: rgba(0, 0, 0, 0.3);

$margin-at: 0 auto;
$margin-xs: 10px 0;
$margin-sm: 20px 0;
$margin-sx: 0 20px;
$margin-md: 30px 0;
$margin-lg: 0 40px;