//fonts
$font-size: 16px;
$font-zero: 0;
$font-h1: 28px;
$font-h2: 24px;

//colors
$color-01: #fafafa;
$color-button: #3897f0;  
$color-03: #fff;
$color-04: rgba(0, 0, 0, 0.3);

//margins
$margin-all: 0 auto;
$margin-header: 30px 0;
$margin-h1: 10px 0;
$margin-li: 0 20px 0 0;
$margin-button: 0 20px;
$margin-img: 20px 0;
$margin-min: 0 40px;

//widhts
$width-main: 90%;
$width-max: 935px;
$width-all: 100%;
$width-min: 768px;
$width-ph: 30%;
$width-border: 1px;

//heights
$height-all: 100%;