//colors
$body-background-color: #fafafa;
$btn-color: #3897f0;
$btn-border-color: $btn-color;
$btn-background-hover: $btn-color;
$img-background-hover: rgba(0, 0, 0, 0.3);

//units
$html-font-size: 16px;
$h1-font-size: 28px;
$h2-font-size: 24px;
