*{
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family: "AfterMidnite";
	src: url("../assets/fonts/AfterMidnite.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trajan Pro";
	src: url("../assets/fonts/TrajanPro-Regular.otf");
	font-weight: normal;
	font-style: normal;
}

body{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-weight: 100;
}

