body {    
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}
.navbar{
    display: flex;
    background-color:#29213e;
    height: 75px;
    align-content: center;
}
.logo{
    display:flex;
    margin-left:100px;
    align-self: center;
}
.flex-inicio{
    align-self: flex-start;
}
.flex-fim{
    align-self: flex-end;
}
.navbarColuna{
    display: flex;
    margin:auto;
    list-style-type: none;
    flex-wrap: row;
    justify-content: space-around;
}
.navItens{
    margin:10px;
    text-decoration: none;
    color:white;
}
.home{
    background-image: url("../img/geovanna-bg-home.jpg");
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
	align-items: center;
}
.conteudo-home{
    margin:100px;
}
.home-btn{
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border:2px solid white;
    background-color: Transparent;
    padding:20px;
}
.home-btn:hover{
    background-color: white;
    transition-duration:0.4s;
}