//Fontes Size
$font-size1: 16px;
$zero: 0;
$h1: 28px;
$h2: 24px;

//Fontes

//Cores
$primary-color: #fafafa;
$button-color: #3897f0;
$second-color: #fff;
$third-color: rgba(0, 0, 0, 0.3);

//Width
$w-main: 90%;
$mw-main: 935px;
$w-full: 100%;
$w-sm: 768px;
$w-30: 30%;

//Height
$h-full: 100%;

//Margin
$standard: 0 auto;
$margin1: 30px 0;
$margin-h: 10px 0;
$margin-li: 0 20px 0 0;
$margin-button: 0 20px;
$margin-img: 20px 0;
$margin-med: 0 40px;