body{
    margin: 0px;
}

#nav{
    margin-top: 8v;
    width: 100%;
    height: 15vh;
    background-color: blueviolet;
    text-align: center;
    line-height: 13vh;
}

#nav-header{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    display: inline-block;
}

h2{
    margin-left: 1vw;
    text-decoration: underline;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.example-container{
    width: 33.333%;
    height: 70vh;
    float: left;
    display: block;
}



a:hover{
    color: #808080;
}

/* -------------------------------- Example 01 -------------------------------- */

#example-01-container{
    width: 15vw;
    background-color: #383838;
    padding-bottom: 10px;
    margin: 0 auto;
}

h3{
    font-family: 'Trebuchet MS';
    padding: 10px;
    background-color: #2b2b2b;
    color: #e6e6e6;
    text-align: center;
}

a{
    text-decoration: none;
    color: #e6e6e6;
}

p{
    margin-left: 2vw;
    font-family: 'Trebuchet MS';
}

/* -------------------------------- Example 02 -------------------------------- */

#example-02-container{
    width: 100%;
    height: 8vh;
    background-color: #262626;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.example-02-btn{
    background-color: transparent;
    border: 0;
    color: #e6e6e6;
    cursor: pointer;
    flex: 1;
}

.example-02-btn:hover{
    background-color: rgb(0, 0, 0);
}

/* -------------------------------- Example 03 -------------------------------- */

#example-03-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    height: 45vh;
    background-color: #262626;
    padding: 1px;
}

.text-wrap{
    font-size: 1.3vw;
    flex: 1;
    color: #e6e6e6;
	margin: 5px;
    text-align: center;
}

.wrap {
	flex-wrap: wrap-reverse
}

/* -------------------------------- Example 04 -------------------------------- */

#example-04-container{
    margin: 0 auto;
    width: 90%;
    height: 51vh;
    background-color: #262626;
    text-align: center;
}

.image {
	flex: 1;
	margin: 5px;
	display: inline-block;
    width: 97%;
    height: 15vh;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s;
}

.image:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.3s;
}

/* -------------------------------- Example 05 -------------------------------- */

#example-05-container{
    width: 90%;
    height: 51vh;
    display: flex;
    background-color: #262626;
}

.space-between{
    justify-content: space-between;
}

.example-05-btn{
    margin: 5px;
    width: 25%;
    height: 30%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: #e6e6e6;
}

.example-05-btn:hover{
    background-color: rgb(0, 0, 0);
}

/* -------------------------------- Example 06 -------------------------------- */

#example-06-container{
    width: 90%;
    height: 51vh;
    background-color: #262626;
}

.align-center{
    flex: 1;
	margin: 5px;
	padding: 0 10px;
	text-align: center;
    align-items: center;
    flex-direction: column;
    color: #e6e6e6;
}

/* -------------------------------- Example 07 -------------------------------- */

#example-07-container{
    display: flex;
    align-content: center;
    width: 90%;
    height: 50vh;
    background-color: #262626;
    margin: 0 auto;
    color: #e6e6e6;
    font-size: 2em;
}

.center{
    align-items: baseline;
}

.start{
    flex: 1;
    text-align: center;
    align-self: center;
    align-content: flex-start;
}

.end{
    flex: 1;
    text-align: center;
    align-self: center;
    align-content: flex-end;
}

/* -------------------------------- Example 08 -------------------------------- */

#example-08-container{
    display: flex;
    align-content: center;
    width: 90%;
    height: 10vh;
    background-color: #262626;
    margin: 0 auto;
    color: #e6e6e6;
    font-size: 2em;
}

.button-ex08{
    cursor: pointer;
    color: #e6e6e6;
    border: 0;
    flex-grow: 0;
    height: 100%;
    background-color: transparent;
}

.button-ex08:hover{
    background-color: #000;
}

/* -------------------------------- Example 09 -------------------------------- */

#example-09-container{
    display: flex;
    align-content: center;
    width: 90%;
    height: 10vh;
    background-color: #262626;
    margin: 0 auto;
    color: #e6e6e6;
    font-size: 2em;
}

.button-ex09{
    cursor: pointer;
    color: #e6e6e6;
    border: 0;
    flex-grow: 1;
	flex-basis: 33.333%;
    height: 100%;
    background-color: transparent;
}

.button-ex09:hover{
    background-color: #000;
}

/* -------------------------------- Example 10 -------------------------------- */

#example-10-container{
    display: flex;
    align-content: center;
    width: 90%;
    height: 50vh;
    background-color: #262626;
    margin: 0 auto;
    color: #e6e6e6;
    font-size: 2em;
}

.shrink-content{
    flex-grow: 1;
    flex-shrink: 1;
}

/* -------------------------------- Example 11 -------------------------------- */

#example-11-container{
    display: flex;
    align-content: center;
    width: 90%;
    height: 10vh;
    background-color: #262626;
    margin: 0 auto;
    color: #e6e6e6;
    font-size: 1em;
}

.item-content{
	flex: 0 1 20%;
}

/* -------------------------------- Example 12 -------------------------------- */

#example-12-container{
    display: flex;
    align-content: center;
    width: 90%;
    height: 50vh;
    background-color: #262626;
    margin: 0 auto;
    color: #e6e6e6;
    font-size: 1em;
}

.order1 {
    order: 1;
    margin: 5px;
}

.order2 {
    order: 2;
    margin: 5px;
}

.order3 {
    order: 3;
    margin: 5px;
}

.order4 {
    order: 4;
    margin: 5px;
}

/* -------------------------------- Example 13 -------------------------------- */

#example-13-container{
    display: flex;
    align-content: center;
    width: 90%;
    height: 50vh;
    background-color: #262626;
    margin: 0 auto;
    color: #e6e6e6;
    font-size: 1em;
}

.button-ex13{
    width: 33.333%;
    height: 20px;
}

.flex-start {
	align-self: flex-start;
}

.flex-end {
	align-self: flex-end;
}

.flex-center {
	align-self: center;
}






.container {
	max-width: 360px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}