#testmonials {
    padding: 1rem;
    text-align: center;
}

.content-testmonials {
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#testmonials h2 {
    font-family: 'AfterMidnite', sans-serif;
    color: #22223b;
    font-size: 6rem;
    margin-bottom: 3rem;
    text-align: center;
}

.container {
    height: auto;
}


.content-testmonials h3 {
    color: #9a8c98;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.content-testmonials h4 {
    margin-bottom: 5rem;
}

#testmonials img {
    height: 120px;
    width: 120px;
}

.content-testmonials {
    text-align: center;
}

.depoimento {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

@media (max-width: 768px) and (min-width: 480px) {
    #testmonials h2 {
        font-size: 5rem;
    }
    #testmonials img {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 480px) {
    .content-testmonials {
        flex-direction: column;
    }
    #testmonials h2 {
        font-size: 4rem;
    }
    #testmonials img {
        height: 80px;
        width: 80px;
    }
    .content-testmonials h3 {
        font-size: 1.1rem;
    }
    .depoimento {
        display: flex;
        flex-direction: column;
    }
}