.flex{
    display: flex;
}

.flex-menu{
    flex-direction: row;
}

.flex-professores{
    flex-flow: column nowrap;
}

.flex-nivel{
    align-items: center;
    flex-direction: column;        
}

.flex-grow{
    flex-grow: 1;
    background: red;
    margin: 10px;
}

.flex-fotos{
    flex-wrap: wrap;    
}

.container{    
    max-width: 600px;
    margin: 15 auto;
    display: flex;
    border: 1px solid #ccc;    
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;    
}

header div{
    background: red;    
}

.item1{
    flex: 1;
    margin: 5px;        
    font-size: 13px;
    background: red;
}

.item{
    flex: 1;
    margin: 5px;
    background: red;    
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.item3{
    flex: 1;
    margin: 5px;    
    text-align: center;
}

.itemphotos{    
    flex-shrink: 1;
    flex-basis: auto;
    flex-grow: 1;
}

a{
    color: black;
    text-decoration: none;
}



h3{
    font-size: 25px;
    text-align: center;
}

section div img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.photo{
    max-width:280px;
    max-height:250px;
    width: auto;
    height: auto;
    margin: 10px;
}

.item4{
    order: 1;
}

.item5{
    order: 2;
}

.item6{
    order: 3;
}

.item7{
    order: 4;
}

.item8{
    order: 5;
}