@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300);
@font-face {
    font-family: TrajanPro-Regular;
    src: url(../fonts/TrajanPro-Regular.eot?) format("eot"), url(../fonts/TrajanPro-Regular.woff) format("woff"), url(../fonts/TrajanPro-Regular.ttf) format("truetype"), url(../fonts/TrajanPro-Regular.svg#TrajanPro-Regular) format("svg")
}

@font-face {
    font-family: AfterMidnite;
    src: url(../fonts/AfterMidnite.eot?) format("eot"), url(../fonts/AfterMidnite.woff) format("woff"), url(../fonts/AfterMidnite.ttf) format("truetype"), url(../fonts/AfterMidnite.svg#AfterMidnite) format("svg")
}

body {
    font-size: 15px;
    font-family: "TrajanPro-Regular", serif;
    background-color: #F2E9E4;
    color: #4A4E69;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 85px 15px 85px 15px;
	width: 100%;
	flex-direction: column;
}

.aux1,
.aux2,
.aux3,
.aux4{
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 500;
    line-height: 1.2;
    color:white;
}

.aux1 {
    font-size: 6rem
}

.aux2 {
    font-size: 3rem
}

.aux3 {
    font-size: 1.5rem
}

.aux4 {
    font-size: 1rem
}

.button1 {
    border: 1px solid #f2e9e4;
    background-color: transparent;
    color: #f2e9e4;
    margin-bottom: -30px;
}
button {
    cursor: pointer;
    width: 260px;
    border-radius: 40px;
    height: 60px;
    line-height: 38px;
    font-family: Montserrat,sans-serif;
	font-size: 1rem;
	margin-top: 15px;
}

header .barra {
	display: flex;
    justify-content: center;
    padding: 5px 0;
	width: 100%;
	flex-direction: column;
}


header .barra img {
	height: 60px;
}

header .barra{
    top: 0;
	position: fixed;
    align-items: center;
	justify-content: space-around;
	flex-direction: row;
    width: 100%;
    background-color: #22223B;
    box-shadow: -2px -3px 20px 3px rgba(34, 34, 59, .5);
	transition: all .3s ease-in-out 0s;
	min-width: 992px;
}

header nav ul {
	display: flex;
	flex-direction: row;
}

header nav ul li a {
    text-decoration: none;
    position: relative;
    display: block;
    margin: 0 7px;
    padding: 5px 0;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    font-size: 1.18em;
    padding-top: 16px;
    font-family: TrajanPro-Regular,serif;
    color: #f2e9e4;
    font-weight: 400;
    margin-top: 4px;
}

#site .container {
    height: 500px;
    margin-top: 60px;
    background: linear-gradient(rgba(34, 34, 59, .84), rgba(34, 34, 59, .98)), url(../images/geovanna-bg-home.jpg);
    background-position: left top;
    color: #f2e9e4;
    font-family: AfterMidnite,sans-serif;
}
#site .container .aux2{
	margin-bottom: 50px;
    margin-right: 130px;
}

#site .container .aux3{
	font-family: TrajanPro-Regular,serif;
    margin-bottom: 20px;
    font-size: 20px;
}
#site .container span {
    color:#9A8C98;
}
#apresent .container{
    background: linear-gradient(rgba(74, 74, 105, .8), rgba(74, 74, 105, .8)), url(../images/geovanna-bg-presentation.jpg);
	background-position: center center;
	color: #f2e9e4;
}
#apresent .container .aux4{
    margin-left: 20px;
}

#apresent .container img{
    margin: 2.5rem 0;
    height: 80px;
}

#sobre .container {
    color: #22223B;
    width: 40%;
    align-items: flex-start;
    margin-left: 10%;
}

#sobre .container p{
    font-family: Montserrat,sans-serif;
    color: #22223b;
    line-height: 2rem;
    margin-bottom: 2rem;
}

#sobre .container .aux2 {
    font-family: AfterMidnite,sans-serif;
    color: #22223b;
    font-size: 6rem;
    margin-bottom: 20px;
    margin-left: -28px;
    font-size: 75px;
}

#sobre .container .aux3 {
    color: #9a8c98;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: -40px;

}
#sobre .container .aux4 {
    margin-left: -40px;
}

#sobre .container img{
    height: 115px;
}

#servicos .container {
    background: linear-gradient(rgba(34, 34, 59, .84), rgba(34, 34, 59, .98)) , url(../images/geovanna-bg-services.jpg);
    background-position: center center;
	color: #f2e9e4;
}

#servicos .container img {
    height: 120px;
}

#servicos .container p {
    align-items: center center;
}


#servicos .container .tipo_serv{
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align:  center;
}

#servicos .container h2{
    font-size: 40px;
    margin-bottom: 40px;
}
#servicos .container .tipo_serv .serv {
    width: 100%;
    flex: 100%;
}
#servicos .container .tipo_serv .serv h3{
    margin-top: 20px;
}
#servicos .container .tipo_serv .serv h1,h3 {
    color:#9A8C98;
    font-size: 30px;
}
#servicos .container .tipo_serv .serv h1,h3,p {
    margin-left: 50px;
    margin-right: 30px;
    justify-content: space-around;


}
#depoimentos .container img {
    height: 120px;
    align-items: center center;
}

#depoimentos .container h5 {
    color: #C9ADA7;
} 

#depoimentos .container p
{
    text-align: center center;
    margin-top: 50px;
    margin-right:50px;
    margin-left: 50px
    margin-bottom: 50px;
}
#depoimentos .container h3 {
    color:#C9ADA7;
    font-size: 25px;
}
#depoimentos .container h2 {
    font-size: 20px;
}
#contato .container {
    background: linear-gradient(rgba(74, 74, 105, .8), rgba(74, 74, 105, .8)), url(../images/geovanna-bg-contact.jpg);
	background-position: center center;
	color: #f2e9e4;
}

#contato .container img{
    height: 120px;
}

#contato .container h2{
    font-family: AfterMidnite, sans-serif;
    text-align: center;
    font-size: 70px;
    margin-bottom:45px;
}


#contato .container h4 {
    margin-top: 70px;
    color: #C9ADA7;
    font-size: 20px;

}

#contato .container h3{
    margin-left: 25px;
    margin-bottom: 70px;
    margin-top: 50px;
    font-size: 25px;
    color: #C9ADA7;

}
#contato .container .numero{
     margin-left: 25px;
     font-size: 25px;
     margin-top: 15px;
     margin-bottom: 10px;
}

#contato .container .numero2 {
    margin-left: 25px;
    font-size: 15px;
}
#contato .container .email{
     margin-left: 25px;
     margin-bottom: 20px;
}

#contato ul{
    display: flex;
    flex-direction: row;
}
#contato .container li img {
    height: 50px;
}
#contato li {
    border: 1px solid #f2e9e4;
    padding: 5px;
    border-radius: 120%;
    margin: 15px;
}


